apiVersion: v1
kind: Service
metadata:
  name: master1
  labels:
    release: master
spec:
  ports:
    - port: 80
      nodePort: 30080
  selector:
    release: master
    tier: web
  #type: LoadBalancer
  type: NodePort
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: master-deployment
  labels:
    app: wordpress
spec:
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: wordpress
        release: master
    spec:
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: release
                operator: In
                values:
                - master
            topologyKey: "kubernetes.io/hostname"
      containers:
      - image: wordpress:4.8-apache
        name: wordpress
        env:
        - name: WORDPRESS_DB_HOST
          value: wordpress-mysql
        - name: WORDPRESS_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-pass
              key: password
        ports:
        - containerPort: 80
          name: wordpress